{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

{
    <div class='container mt-5 pt-5 '>
		<div class='row justify-content-center '>
			<div class='col-8'></div>	
			<div class='col-4 border rounded-5 px-5 border-2 '>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger mt-2 text-center ">User/password incorrect</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="my-3 mx-2 text-center text-warning">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class='btn btn-warning '>Logout</a>
                        </div>
                    {% endif %}

                    <h3 class="mb-3 font-weight-normal mt-2 text-center ">Welcome</h3 >
                    <label for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-2 mt-2 " autocomplete="username" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control mb-3 mt-2 " autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class= 'container'>
                    <div class = 'row mb-2'>   
                        <button class="btn btn-lg btn-success" type="submit">
                            Sign in
                        </button>
                        <a href='{{ path('app_register') }}' style='color: white' class="signUp text-center mt-1" >
                            Registration
                        </a>
                    </div>
                </div>
                </form>
			</div>	
			<div class='col-1'></div>		
		</div>
    </div> 

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/login.css') }}"> 
    <style>
        .signUp:hover {
            text-decoration: underline;
        }
    </style>
{% endblock %}