{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

{
    <div class='container mt-5 pt-5 '>
		<div class='row justify-content-center '>
			<div class='col-8'></div>	
			<div class='col-3 border rounded-4'>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h3 class="mb-3 font-weight-normal mt-2 text-center ">Welcome</h3 >
                    <label for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-2 mt-2 " autocomplete="username" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control mb-3 mt-2 " autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class= 'container'>
                    <div class = 'row'>   
                        <div class='col-3 me-2 '></div> 
                        <button class="btn btn-lg btn-primary mb-2 col-5" type="submit">
                            Sign in
                        </button>
                    </div>
                </div>
                </form>
			</div>	
			<div class='col-1'></div>		
		</div>
    </div> 

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/login.css') }}"> 
{% endblock %}