{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/myStyle.css') }}"> 
{% endblock %}

{% block main %}

    <div class='container mt-5 '>
		<div class='row justify-content-center '>
			<div class='col-sm-2 col-lg-4 '>
			</div>	
			<div class='col-sm-8 col-lg-3 border rounded-3  '>
    			{{ form_start(incomes) }}
    			    {{ form_row(incomes.executedAt) }}
    			    {{ form_row(incomes.motif) }}
    			{{ form_end(incomes) }}
			</div>	
			<div class='col-sm-2 col-lg-4'>

			</div>		
		</div>
    </div>
{% endblock %}