<aside id="sidebar">
	<header class="mt-2 d-flex">
		<span class="d-flex align-items-center me-3 ms-2 ps-2">
			<img src="{{ asset('images/logo.jpeg') }}" alt="logo">
		</span>
		<div>
			<span class="sidebar-logo">Church Funds</span>
			<br>
			<span class="sidebar-logo">Management</span>
		</div>
	</header>
	<!-- Sidebar Navigation-->
	<ul class="sidebar-nav py-0">
		<li class="sidebar-item">
			<a href="{{ path('app_home') }}" class="sidebar-link">
				<i class="lni lni-home pe-2"></i>
				<span>Home</span>
			</a>
		</li>
		<li class="sidebar-item">
			<a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#transaction" aria-expanded="false" aria-controls="transaction">
				<i class="lni lni-wallet pe-2"></i>
				<span>Transactions</span>
			</a>
			<ul id="transaction" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
				<li class="sidebar-item">
					<a href="{{ path('app_income') }}" class="sidebar-link">Incoming</a>
				</li>
				<li class="sidebar-item">
					<a href="{{ path('app_outcome') }}" class="sidebar-link">Outcoming</a>
				</li>
			</ul>
		</li>
		<li class="sidebar-item">
		<li class="sidebar-item">
			<a href="{{ path('app_dashboard') }}" class="sidebar-link">
				<i class="lni lni-pencil pe-2"></i>
				<span>Edit</span>
			</a>
		</li>
			<a href="{{ path('app_search') }}" class="sidebar-link">
				<i class="lni lni-search-alt pe-2"></i>
				<span>Search</span>
			</a>
		</li>
	</ul>
	<div class="sidebar-footer">
        <a href="{{ path('app_logout') }}" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span class='ms-3'>Logout</span>
        </a>
    </div>
</aside>
