{% extends 'base.html.twig' %}

{% block stylesheets %}
	<style>
		.modify { 
			background-color: rgba(255, 255, 255, .075);
	   	border-left: 3px solid #3b7ddd;
		}

		.income, .expenses{
			max-height: 250px;
			overflow: auto;		
		}

		div.btn-income {
			background-color: #513d94d0;
			color: white;
		}

		div.btn-income:hover {
			background-color: #513d94;
			color: white;
		}
	</style>	
{% endblock %}

{% block title %}
{{ parent() }} | Edit 	
{% endblock %}

{% block main %}
	<div class='container-fluid mt-3'>
		<div class='row  pe-3 mx-5'>
			<div class='d-flex justify-content-between mb-3'>
				<div class='btn btn-income rounded-4 py-3 px-5'>
					<h6>Income</h6>
					<h4>{{church.incomes|number_format('0', ',', '.') }} Ar</h4>
				</div>
				<div class='btn btn-danger rounded-4 py-3 px-5'>
					<h6>Expense</h6>
					<h4>{{church.outgoing|number_format('0', ',', '.') }} Ar</h4>
				</div>
				<div class='btn bg-light rounded-4 py-3 px-5'>
					<h6> Solde</h6>
					<h4>{{church.balance|number_format('0', ',', '.') }} Ar</h4>
				</div>
			</div>
		</div>
		<div class="row ms-5">
			<div class="col-sm-12 col-lg-5 rounded-4 bg-light border-2 me-2 mb-2">
				<h5 class='mt-3 ms-3'>INCOMES</h5>
				<div class='income'>
					<table class="table table-borderless mt-2 table-light table-hover ">
						<thead>
							<tr>
								<th></th>
								<th>Motif</th>
								<th>Amount</th>
							</tr>
						</thead>
						<tbody>
							{% for income in incomes %}
								<tr>
									<td>{{income.executedAt|date('d-m-Y')}}</td>
									<td>{{income.motif}}</td>
									<td>{{income.amount|number_format('0', ',', '.') }} Ar</td>
									<td>
										<a href="{{ path('app_editIncome', {id: income.id} ) }}" class="btn edit">
											<i class='lni lni-pencil-alt'></i>
										</a>
										<a href="{{ path('app_deleteIncome', {id: income.id} ) }}" class="btn remove">
											<i class='lni lni-trash-can'></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-12 col-lg-6 rounded-4 bg-light border-2 ms-2 mb-2 pb-4">
				<canvas id="myChart" class='mt-5' ></canvas>
			</div>
		</div>
		<div class="row ms-5">
			<div class="col-sm-12 col-lg-5 rounded-4 bg-light border-2 me-2 mb-2">
				<h5 class='mt-3 ms-3'>
					EXPENSES
				</h5>
				<div class='expenses'>
					<table class="table table-borderless mt-2 table-light table-hover ">
						<thead>
							<tr>
								<th></th>
								<th>Motif</th>
								<th>Amount</th>
							</tr>
						</thead>
						<tbody>
							{% for outcome in outcomes %}
								<tr>
									<td>{{outcome.executedAt|date('d-m-Y')}}</td>
									<td>{{outcome.motif}}</td>
									<td>{{ outcome.amount|number_format('0', ',', '.') }} Ar</td>
									<td>
										<a href="{{ path('app_editOutcome', {id: outcome.id} ) }}" class="btn edit">
											<i class='lni lni-pencil-alt'></i>
										</a>
										<a href="{{ path('app_deleteOutcome', {id: outcome.id} ) }}" class="btn remove">
											<i class='lni lni-trash-can'></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class=" col-sm-12 col-lg-6 rounded-4 bg-light border-2 ms-2 mb-2 pb-4">
				<canvas id="expensesChart" class='mt-5'></canvas>
			</div>
		</div>	
	</div>
{% endblock %}

{% block script %}
	<script>
  	const ctx = document.getElementById('myChart');
	const ctx2 = document.getElementById('expensesChart');
		new Chart(ctx, {
			type: 'bar',
			data: {
				labels: {{ date|raw }},
				datasets: [{
					label: 'Income',
					data: {{ dataIn|raw }},
					backgroundColor: '#513d94d0',
				}]
			},
			options: {
				scales: {
				y: {
					beginAtZero: true
				}
				}
			}
		});
				new Chart(ctx2, {
			type: 'bar',
			data: {
				labels: {{ date2|raw }},
				datasets: [{
				label: 'expense',
				data: {{ dataOut|raw }},
				backgroundColor: '#ff0000d0',
				}]
			},
			options: {
				scales: {
				y: {
					beginAtZero: true
				}
				}
			}
		});
</script>
{% endblock %}
