{% extends 'base.html.twig' %}

{% block main %}
{# Formulaire de recherche #}
	{{ form_start(search_Form) }}
	<div class='container'>
		<div class='row'>
			<div class='col-3'>
				<div class='row mt-4'>
					<div>
						{{ form_row(search_Form.keyword) }}
					</div>
					<div>
						{{ form_row(search_Form.type) }}
					</div>
					<div>
						{{ form_row(search_Form.startDate) }}
					</div>
					<div>
						{{ form_row(search_Form.endDate) }}
					</div>
					<div class='col-6'>
						{{ form_row(search_Form.search) }}
					</div>           
					<a href='{{ path('app_printData') }}' class='col-5 btn btn-danger'>Print</a>
					
				</div>      
			</div>

			<div class='col-9'>
				{# Affichage des résultats#}
				<div class='container-fluid mt-3'>
					<div class="row ms-5">
					<h5>Incomes</h5>
						<div class="rounded-4 bg-light border-2 me-2 mb-2">
							<table class="table table-borderless mt-2 table-light table-hover ">
								<thead>
									<tr class='row'>
										<th class='col ps-5'>Date</th>
										<th class='col'>Motif</th>
										<th class='col'>Amount</th>
									</tr>
								</thead>
								<tbody>
									{% for income in incomes %}
										<tr class='row'>
											<td class='col ps-5'>{{income.executedAt|date('d-m-Y')}}</td>
											<td class='col'>{{income.motif}}</td>
											<td class='col'>{{income.amount}}</td>
										</tr>
									{% endfor %}
										<tr class='row'>
											<td class='col ps-5'>Total</td>
											<td class='col'></td>
											<td class='col'>{{totalIncomes}}</td>
										</tr>
								</tbody>
							</table>
						</div>
					</div>
					{# New Row #}
					<div class="row ms-5">
						<h5>Outgoing</h5>
						<div class="rounded-4 bg-light border-2 me-2 mb-2">
							<table class="table table-borderless mt-2 table-light table-hover ">
								<thead>
									<tr class='row'>
										<th class='col ps-5'>Date</th>
										<th class='col'>Motif</th>
										<th class='col'>Amount</th>
									</tr>
								</thead>
								<tbody>
									{% for outcome in outcomes %}
										<tr class='row'>
											<td class='col ps-5'>{{outcome.executedAt|date('d-m-Y')}}</td>
											<td class='col'>{{outcome.motif}}</td>
											<td class='col'>{{outcome.amount}}</td>
										</tr>
									{% endfor %}
										<tr class='row'>
											<td class='col ps-5'>Total</td>
											<td class='col'></td>
											<td class='col'>{{totalOutcomes}}</td>
										</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ form_end(search_Form) }}
{% endblock %}
