<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="icon" href="{{ asset('images/icon.jpeg') }}">

		<!-- Stylesheets -->
		<link rel="stylesheet" href="{{ asset('assets/styles/lineicons/lineicons.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/styles/bootstrap/bootstrap.min.css') }}"> 
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% block body %}
			<div class="wrapper d-flex">
				{% block sidebar %}
					{% include 'partials/_sidebar.html.twig' %}
				{% endblock %}
				{% block dashboard %}
					<div class="main d-flex flex-column">
						{% include 'partials/_toogle.html.twig' %}
						{% include 'partials/_flash.html.twig' %}
						{% block main %}{% endblock %}
					</div>
				{% endblock %}
			</div>
		{% endblock %}
		<script src="{{ asset('assets/scripts/bootstrap/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('dassets/scripts/scripts.js') }}"></script>
	</body>
</html>
